<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        table {
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
        }
    </style>
    <title>Search Results - Authors</title>
</head>
<body>
<form th:action="@{/searchAuthors}" method="post">
    <!-- Form field for searching authors -->
    <input type="text" name="author_name" th:value="${authorName}" placeholder="Author Name">

    <button type="submit">Search</button>
</form>
<form method="get"
      th:action="@{/searchAuthors}">
    <button type="submit">New Search</button>
</form>
<h1>Search Results - Authors</h1>

<table>
    <thead>
    <tr>
        <th>Author Name</th>
        <th>Biography</th>
        <th>Birth Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="author : ${authors}">
        <td th:text="${author.authorName}"></td>
        <td th:text="${author.biography}"></td>
        <td th:text="${author.birthDate}"></td>
    </tr>
    </tbody>
</table>
<form method="post"
      th:action="@{/searchAuthors(author_name=${authorName}, page=${page != null ? page + 1 : 1})}">
    <button type="submit">Next Page</button>
</form>
<form method="post"
      th:action="@{/searchAuthors(author_name=${authorName}, page=${page != null ? page - 1 : 1})}">
    <button type="submit">Previous Page</button>
</form>
</body>
</html>