<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        table {
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
        }
    </style>
    <title>Search Results</title>
</head>
<body>
<form th:action="@{/searchBooks}" method="post">
    <!-- Form fields for searching books -->
    <input type="text" name="author_name" th:value="${authorName}" placeholder="Author Name">
    <input type="text" name="title" th:value="${title}" placeholder="Title">
    <input type="text" name="categoryName" th:value="${categoryName}" placeholder="Category Name">
    <!-- Hidden input field for the page parameter -->
    <input type="hidden" name="page" th:value="${page}">

    <button type="submit">Search</button>
</form>
<form method="get"
      th:action="@{/searchBooks}">
    <button type="submit">New Search</button>
</form>

<h1>Search Results</h1>
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Category</th>
        <th>Publication Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.title}"></td>
        <td th:text="${book.authorName}"></td>
        <td th:text="${book.categoryName}"></td>
        <td th:text="${book.publicationDate}"></td>
    </tr>
    </tbody>
</table>
<form method="post"
      th:action="@{/searchBooks(author_name=${authorName}, title=${title}, categoryName=${categoryName}, page=${page != null ? page + 1 : 1})}">
    <button type="submit">Next Page</button>
</form>
<form method="post"
      th:action="@{/searchBooks(author_name=${authorName}, title=${title}, categoryName=${categoryName}, page=${page != null ? page -1 : 1})}">
    <button type="submit">Previous Page</button>
</form>
</body>
</html>
