<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        table {
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
        }
    </style>
    <title>Search Results - Events</title>
</head>
<body>

<form th:action="@{/searchEvents}" method="post">
    <!-- Form fields for searching events -->
    <input type="text" name="event_name" th:value="${eventName}" placeholder="Event Name">
    <input type="text" name="event_time" th:value="${eventTime}" placeholder="Event Time">

    <button type="submit">Search</button>
</form>
<form method="get"
      th:action="@{/searchEvents}">
    <button type="submit">New Search</button>
</form>
<h1>Search Results - Events</h1>

<table>
    <thead>
    <tr>
        <th>Event Name</th>
        <th>Description</th>
        <th>Event Time</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="event : ${events}">
        <td th:text="${event.eventName}"></td>
        <td th:text="${event.description}"></td>
        <td th:text="${event.eventTime}"></td>
    </tr>
    </tbody>
</table>
<form method="post"
      th:action="@{/searchEvents(event_name=${eventName}, event_time=${eventTime}, page=${page != null ? page + 1 : 1})}">
    <button type="submit">Next Page</button>
</form>
<form method="post"
      th:action="@{/searchEvents(event_name=${eventName}, event_time=${eventTime}, page=${page != null ? page -1 : 1})}">
    <button type="submit">Previous Page</button>
</form>
</body>
</html>