<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        table {
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
        }
    </style>
    <title>User Info</title>
</head>
<body>
<h1>User Info</h1>

<table>
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Date of Birth</th>
        <th>Address</th>
        <th>Phone Number</th>
        <th>Card Number</th>
        <th>Membership Package</th>
        <th>Case</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="userInfo : ${userInfo}">
        <td th:text="${userInfo.firstName}"></td>
        <td th:text="${userInfo.lastName}"></td>
        <td th:text="${userInfo.dateOfBirth}"></td>
        <td th:text="${userInfo.address}"></td>
        <td th:text="${userInfo.phoneNumber}"></td>
        <td th:text="${userInfo.cardNumber}"></td>
        <td th:text="${userInfo.membershipPackage}"></td>
        <td th:text="${userInfo._case}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
